.dashboard__transactions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 5rem;
}

.transactions {
  flex: 1.2;
  display: flex;
  flex-direction: column;
}

.expenses {
  flex: 0.8;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.transactions-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.transactions-right {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.non-active {
  color: gray;
}

table {
  width: 100%;
  border-spacing: 0 15px;
  text-align: left;
}

.incomeExpense-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* .income-amount {
  display: flex;
  align-items: center;
  gap: 3rem;
} */
.info {
  display: flex;
  flex-direction: column;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  color: white;
  border: none;
}
.expense-icon {
  background-color: #5d3fd3;
}

.income-icon {
  background-color: #7ec8e3;
}

.amount {
  font-weight: 500;
}
